*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.dashboard {
	position: relative;
	background-color: #fff;
}

.navLinks {
	position: absolute;
	width: 100%;
    height: 65px;
    background-color: #00BFFF;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 28px;
}

.holder {
	width: 100%;
	height: 800px;
	padding-top: 63px;
	
}

.getThis {
	display: inline-block;
    width: 43%;
    height: 576px;
    margin-left: 39px;
	vertical-align: top;
}

.shop {
	width: 95%;
	height: 100px;
	margin-top: 10px;
	padding-top: 2px;
	border: 1px solid #C0C0C0;
	border-radius: 50px
}

.buy {
	width: 40%;
	height: 100px;
	border: 1px solid black;
}
.buy1 {
	display: inline-block;
	width: 40%;
	height: 95px;
	margin-left: 41px;
	border: none;
	background-image: url("heels1.jpg");
	background-repeat: no-repeat;
	vertical-align: top;
}

.buy2 {
	display: inline-block;
	width: 40%;
	height: 95px;
	margin-left: 41px;
	border: none;
	background-image: url("heels2.jpg");
	background-repeat: no-repeat;
	vertical-align: top;
}

.buy3 {
	display: inline-block;
	width: 40%;
	height: 95px;
	border: none;
	margin-left: 41px;
	background-image: url("heels3.jpg");
	background-repeat: no-repeat;
	vertical-align: top;
}
.buy4 {
	display: inline-block;
	width: 40%;
	height: 95px;
	border: none;
	margin-left: 41px;
	background-image: url("fructis.jpg");
	background-repeat: no-repeat;
	vertical-align: top;
}
.buy5 {
	display: inline-block;
	width: 40%;
	height: 95px;
	border: none;
	margin-left: 41px;
	background-image: url("dress.jpg");
	background-repeat: no-repeat;
	vertical-align: top;
}

.buy6 {
	display: inline-block;
	width: 40%;
	height: 95px;
	border: none;
	margin-left: 41px;
	background-image: url("th.jfif");
	background-repeat: no-repeat;
	vertical-align: top;
}
.buy7 {
	display: inline-block;
	width: 40%;
	height: 95px;
	border: none;
	margin-left: 41px;
	background-image: url("th1.jpg");
	background-repeat: no-repeat;
	vertical-align: top;
}
.buy8 {
	display: inline-block;
	width: 40%;
	height: 95px;
	border: none;
	margin-left: 41px;
	background-image: url("libbyPage.jpg");
	background-repeat: no-repeat;
	vertical-align: top;
}
.buy9 {
	display: inline-block;
	width: 40%;
	height: 95px;
	border: none;
	margin-left: 41px;
	background-image: url("danielaStil.jpg");
	background-repeat: no-repeat;
	vertical-align: top;
}
.buy10 {
	display: inline-block;
	width: 40%;
	height: 95px;
	border: none;
	margin-left: 41px;
	background-image: url("th2.jpg");
	background-repeat: no-repeat;
	vertical-align: top;
}

.conteiner {
	display: inline-block;
	width: 124px;
	height: 95px;
}
.article{
	display: block;
	margin-top: 7px;
}
.costs {
	display: block;
    margin-left: 12px;
    font-size: 20px;
}

.star {
    width: 69px;
    height: 22px;
	margin-top: 5px;
	background-image: url("fiveStars.jpg");
	background-repeat: no-repeat;
}

.buy {
	display: inline-block;
    width: 40px;
    height: 22px;
    vertical-align: middle;
    border-radius: 5px;
    background-color: #00BFFF;
    border: #fff;
    color: #fff;
}
}

@media screen and (max-width: 750px){
	.getThis {
		width: 33%;
	}
}

@media screen and (max-width: 406px){
	.getThis {
		width: 48%;
		margin-left: 0px;
	}
}

