*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.dashboard {
	position: relative;
	background-color: #fff;
}

.navLinks {
	position: relative;
	width: 100%;
    height: 65px;
    background-color: rgb(26, 137, 218);
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 28px;
	vertical-align: top;
}

.searchElements {
	margin-left: 71%;
    margin-top: -33px;
    position: absolute;
    width: 25%;
    height: 39px;
    border: 1px solid black;
}
.holder {
	width: 100%;
	height: 800px;
	padding-top: 63px;
	
}

.getThis {
	display: inline-block;
    width: 43%;
    height: 576px;
    margin-left: 39px;
	vertical-align: top;
}

.shop {
	width: 95%;
	height: 100px;
	margin-top: 10px;
	padding-top: 2px;
	border: 1px solid #C0C0C0;
	border-radius: 50px
}

.buy {
	width: 40%;
	height: 100px;
	border: 1px solid black;
}
.buy1 {
	display: inline-block;
	width: 40%;
	height: 95px;
	margin-left: 41px;
	border: none;
	background-image: url("./assets/heels1.jpg");
	background-repeat: no-repeat;
	vertical-align: top;
}

.buy2 {
	display: inline-block;
	width: 40%;
	height: 95px;
	margin-left: 41px;
	border: none;
	background-image: url("./assets/heels2.jpg");
	background-repeat: no-repeat;
	vertical-align: top;
}

.buy3 {
	display: inline-block;
	width: 40%;
	height: 95px;
	border: none;
	margin-left: 41px;
	background-image: url("./assets/heels3.jpg");
	background-repeat: no-repeat;
	vertical-align: top;
}
.buy4 {
	display: inline-block;
	width: 40%;
	height: 95px;
	border: none;
	margin-left: 41px;
	background-image: url("./assets/fructis.jpg");
	background-repeat: no-repeat;
	vertical-align: top;
}
.buy5 {
	display: inline-block;
	width: 40%;
	height: 95px;
	border: none;
	margin-left: 41px;
	background-image: url("./assets/dress.jpg");
	background-repeat: no-repeat;
	vertical-align: top;
}

.buy6 {
	display: inline-block;
	width: 40%;
	height: 95px;
	border: none;
	margin-left: 41px;
	background-image: url("./assets/th.jfif");
	background-repeat: no-repeat;
	vertical-align: top;
}
.buy7 {
	display: inline-block;
	width: 40%;
	height: 95px;
	border: none;
	margin-left: 41px;
	background-image: url("./assets/th1.jpg");
	background-repeat: no-repeat;
	vertical-align: top;
}
.buy8 {
	display: inline-block;
	width: 40%;
	height: 95px;
	border: none;
	margin-left: 41px;
	background-image: url("./assets/libbyPage.jpg");
	background-repeat: no-repeat;
	vertical-align: top;
}
.buy9 {
	display: inline-block;
	width: 40%;
	height: 95px;
	border: none;
	margin-left: 41px;
	background-image: url("./assets/danielaStil.jpg");
	background-repeat: no-repeat;
	vertical-align: top;
}
.buy10 {
	display: inline-block;
	width: 40%;
	height: 95px;
	border: none;
	margin-left: 41px;
	background-image: url("./assets/th2.jpg");
	background-repeat: no-repeat;
	vertical-align: top;
}

.conteiner {
	display: inline-block;
	width: 124px;
	height: 95px;
}
.article{
	display: block;
	margin-top: 7px;
}
.costs {
	display: block;
    margin-left: 12px;
    font-size: 20px;
}

.star {
    width: 69px;
    height: 22px;
	margin-top: 5px;
	background-image: url("./assets/fiveStars.jpg");
	background-repeat: no-repeat;
}

.buy {
	display: inline-block;
    width: 40px;
    height: 22px;
    vertical-align: middle;
    border-radius: 5px;
    background-color: #00BFFF;
    border: #fff;
    color: #fff;
}
.getBlock {
	display: block;
}
.buyBear {
	display: inline-block;
	margin-left: 60%;
    margin-top: -6%;
    width: 40px;
    height: 22px;
    vertical-align: middle;
    border-radius: 5px;
    background-color: #00BFFF;
    border: #fff;
    color: #fff;
}

.mostPopular {
	display: inline-block;
    width: 454px;
    border: 1px solid #0000004d;
}
.title {
	display: inline-block;
	font-size: 20px;
	color:  #0000004d; 
}

.getPopular {
	width: 100%;
    display: block;
    padding: 88px;
}
.moveSlider {
	padding-left: 384px;
    padding-top: 50px;
}
.slider {
	position: relative;
    width: 37%;
    height: 307px;
    overflow: hidden;
}


.getImages {
	display: block;
	position: relative;
    width: 100%;
    height: 77%;
	border-radius: 22px;
	z-index: 1;

}

.btnPrev {
	width: 22px;
	margin-left: 3%;
	margin-top: -193px;
    position: absolute;
	color: #c0c0c06b;
	background-color: transparent;
	border: none;
	font-size: 20px;
	z-index: 2;
}

.btnNext {
	width: 22px;
    margin-left: 83%;
    margin-top: -193px;
    position: absolute;
	color: #c0c0c06b;
	background-color: transparent;
	border: none;
	font-size: 20px;
    z-index: 2;	
}

.allImage1 {
	width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("./assets/image1.jpg");
    border-radius: 22px;
	border: 1px solid  #C0C0C0;
}
.allImage2 {
	display: none;
	width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("./assets/image2.jpg");
	border-radius: 22px;
	border: 1px solid  #C0C0C0;
}
.allImage3 {
	display: none;
	width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("./assets/image3.jpg");
	border-radius: 22px;
	border: 1px solid  #C0C0C0;
}

.description {
	position: relative;
    width: 98%;
    height: 100%;
    display: flex;
    border: 1px solid #C0C0C0;
	background-color: #c0c0c06b;
	border-radius: 22px;
	text-align: bottom;
}
.teddybear {
	display: block;
    margin-top: 247px;
    margin-left: -247px;
    height: 10px;
    font-size: 10px;
    font-family: fantasy;
}
.price {
	display: block;
	font-family: none;
}
.onSale {
	display: block;
	font-family: none;
}
.sale {
	display: inline-block;
	color: red;
	font-family: fantasy;
}
@media screen and (max-width: 750px){
	.getThis {
		width: 33%;
	}
}

@media screen and (max-width: 406px){
	.getThis {
		width: 48%;
		margin-left: 0px;
	}
}



